body.error {
  section.hero-slant {
    position: relative;
    display: block;
    background-color: $white;

    @media (min-width: 768px) {
      padding-top: 0 !important;

      &:before {
        content: "";
        display: block;
        height: 100px;
        background: linear-gradient(to right bottom, $primary 49.9%, transparent 50.1%);
      }
    }
  }

  footer.footer {
    .slant {
      display: none;
    }

    .container-wrapper {
      background-color: $white;
    }
  }
}
