body#home {
  .hero {
    height: 45vh;

    p.subtitle {
      @media (min-width: 768px) {
        max-width: 75%;
      }
    }

    a.button {
      padding: 1.5rem 2.5rem;
    }
  }

  .slant {
    position: relative;
    display: block;
    padding-bottom: 30px;
    background-color: $white;

    @media (min-width: 768px) {
      padding-top: 0 !important;

      &:before {
        content: "";
        display: block;
        height: 200px;
        margin-bottom: 50px;
        background: linear-gradient(to right bottom, $primary 49.9%, transparent 50.1%);
      }
    }
  }
}
