body#news_list {
  .title {
    a {
      color: $primary;
      text-decoration: none;

      &:hover, &:focus {
        color: $grey-dark;
      }
    }
  }

  nav.pagination {
    display: block;
    text-align: center;

    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}
