.DS_Store
.ideas/
.vscode/
/bin/
/docs/ref/
/lib/
/.shards/
/coverage/
/run_tests
/tmp/
*.dwarf
.icr_*
*.db
node_modules
src/website/assets/build/*
!src/website/assets/build/.gitkeep
src/website/assets/build_dev/*
!src/website/assets/build_dev/.gitkeep
