{% extend "base.html" %}

{% block page_title %}Webservice currently unavailable{% endblock page_title %}

{% block body_class %}error{% endblock %}

{% block content %}
<div class="hero is-medium is-gradient">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Webservice currently unavailable</h1>
      <p class="subtitle mb-0">An unexpected condition was encountered. Thanks for your patience.</p>
    </div>
  </div>
</div>
<section class="hero-slant"></section>
{% endblock content %}
