{% extend "base.html" %}

{% block title %}Marten &ndash; The pragmatic web framework{% endblock %}

{% block body_id %}home{% endblock %}

{% block content %}
<section class="hero is-medium is-gradient">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">The pragmatic web framework</h1>
      <p class="subtitle">Marten is a Crystal web framework that makes building web applications easy, productive, and fun.</p>
      <div class="button-wrap"><a href="/start" class="button is-primary is-inverted">Get started with Marten</a></div>
    </div>
  </div>
</section>
<section class="slant"></section>
<div class="container">
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet, nisl in vehicula aliquam, eros diam mollis orci, ac eleifend purus orci in dui. Suspendisse in felis lectus. Aliquam posuere nunc quis libero dapibus, nec maximus lacus pretium. Pellentesque pulvinar tortor ac lacinia vestibulum. Nullam tincidunt condimentum lacus, eu faucibus ante accumsan ut. Morbi laoreet malesuada pretium. Phasellus ut aliquam mi. Nunc pulvinar nisl et quam sollicitudin ultricies. Etiam placerat lobortis quam eget mattis. Cras et dui mollis, tincidunt nulla eleifend, faucibus dui. Etiam ultricies nisl vitae convallis venenatis. Suspendisse ultricies posuere ligula, sed suscipit sapien scelerisque ut. Duis fermentum dictum lacus, quis condimentum neque faucibus in. Curabitur fringilla velit dolor, tincidunt viverra purus feugiat quis.</p>
    <p>Vestibulum magna est, pharetra ac ex eu, scelerisque luctus sem. Suspendisse arcu est, mattis id tincidunt vitae, congue vel ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam id lacus mollis, consequat felis id, posuere nulla. Nam sagittis ac leo in ornare. In vel nisl sed tortor ultricies efficitur. Phasellus ullamcorper justo at odio dapibus, quis malesuada felis eleifend. Integer sed felis tempor, scelerisque justo nec, rutrum eros. Phasellus dui velit, facilisis et nulla sed, viverra pretium tortor. Donec sit amet sapien sem.</p>
    <p>Nullam odio orci, consequat vitae augue non, vestibulum pharetra ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In eu nibh at lacus efficitur feugiat. Pellentesque viverra ante et metus iaculis, at iaculis est feugiat. Integer tempus, sem quis facilisis cursus, erat est egestas urna, at pharetra metus velit non augue. Fusce sed egestas augue, a pharetra enim. Aenean egestas sem ac dolor semper, eu viverra tortor varius. Cras ac feugiat felis, id dignissim elit. Aenean non pharetra est. Nulla commodo sed mauris in egestas. Vestibulum sollicitudin orci a turpis mattis elementum. Vivamus lacinia tincidunt augue, sit amet ullamcorper leo blandit eu. Nam pellentesque condimentum scelerisque.</p>
    <p>Phasellus quis urna eget nunc sodales cursus ut sit amet nisl. Mauris non vestibulum ex. Morbi malesuada ac turpis at tincidunt. In hac habitasse platea dictumst. Fusce a ultricies turpis. Duis vitae diam ac elit aliquam fringilla. Vivamus mi velit, feugiat et tellus sagittis, condimentum tempor ligula. Donec posuere tempor ultricies. Nam consectetur diam metus, nec rhoncus ligula pharetra at.</p>
    <p>Aliquam a semper arcu, sit amet semper nunc. Proin iaculis ac augue ac blandit. Nam feugiat enim quis sem ultricies auctor ac in lacus. Morbi convallis congue ligula at semper. Sed libero lorem, hendrerit quis mi at, pharetra scelerisque mi. Integer porta aliquet posuere. Vivamus ante risus, lacinia eget mi non, cursus gravida neque. Praesent aliquam sem magna, eu luctus metus lobortis eget. Phasellus lacinia et dui id pretium. Nulla facilisi. Mauris tempor pretium nunc, bibendum pretium arcu dignissim vitae. Maecenas et efficitur orci. Vivamus condimentum, est sit amet hendrerit dictum, sem leo suscipit metus, eu consectetur nunc magna in lorem.</p>
  </div>
</div>
{% endblock %}
